@import url{../../../plugins/system/jat3/jat3/base-themes/default/css/layout.css}
@import url{../../../components/com_jreviews/jreviews/views/themes/default/theme_css/theme.css}
@import url{../../../components/com_jreviews/jreviews/views/themes/default/theme_css/form.css}
@import url{../../../components/com_jreviews/jreviews/views/themes/default/theme_css/list.css}
@import url{../../../components/com_jreviews/jreviews/views/themes/default/theme_css/detail.css}
@import url{../../../components/com_rsmembership/assets/css/rsmembership.css}
@import url{../../../components/com_jreviews/jreviews/views/themes/default/theme_css/jquery_ui_theme/jquery-ui-1.8.17.custom.css}

.column div.ja-moduletable, .column div.moduletable, .column div.ja-module, .column div.module { margin:0}

#ja-header { padding:8px 0 4px; background:#f3f3f3}
#pt_content .wrap { width:auto}
#ja-footer { border-top:4px solid #000}


@import url{../../../components/com_rsticketspro/assets/css/newstyle.css}
#rsticketspro_container { padding:0}
#rsticketspro_searchbox { background: url(../images/probid/gradient_1.png) repeat-x 0 bottom; border-bottom:1px solid #c7c7c7; margin-bottom:0}
	#rsticketspro_searchbtn { background:none; color:#fff; font:bold 16px Arial;  box-shadow: 0 1px 0 0 #f2686b inset; border:1px solid #b2181d;background: -moz-linear-gradient(top,#de2228 0%,#b3191e);background: -webkit-gradient(linear, left top, left bottom, 	from(#de2228),to(#b3191e));}
	#rsticketspro_searchinp {  margin: 26px 0.5em 25px 1%;}
ul#rsticketspro_items { clear:both;border-bottom: 4px solid #000000; margin:0 0 6px 0}
	ul#rsticketspro_items li { background:none; border-left:1px solid #c7c7c7; padding:13px 15px !important!important; width:28%;min-height: 105px;}
	ul#rsticketspro_items li:first-child { border:none}
	ul#rsticketspro_items li  a { font:bold 15px Arial}
	ul#rsticketspro_items li  a.pt_ticket  {background: url(../images/probid/i_icons.png) no-repeat 0 0; font-size:0; text-indent:-9999px; float:left; width:30px; height:30px; margin:0 15px 0 0 }
	ul#rsticketspro_items li  a.pt_ticket_1 { background-position:0 0}
	ul#rsticketspro_items li  a.pt_ticket_2 { background-position:0 -30px}
	ul#rsticketspro_items li  a.pt_ticket_3 { background-position:0 -60px}
	ul#rsticketspro_items li  a.pt_ticket  img { display:none}
	ul#rsticketspro_items li  p  { padding-bottom:10px}
	ul#rsticketspro_items li  p a  { display:inline-block; padding-top:7px}

.rsticketspro_halfbox { background:none; margin:0; width:50%}

p.rsticketspro_title { background:none; border:none; font:bold 18px Arial; color:#010101; border-bottom:1px solid #000; margin:0;height: 25px;text-align: center;}
ul.rsticketspro_categories { border-right:1px solid #000; padding:0!important}
ul.rsticketspro_categories li { border:none; border-top:1px solid #000; clear:both; padding:30px!important; margin:0!important}
ul.rsticketspro_categories li:first-child { border-top:0}
ul.rsticketspro_categories li  a { font:bold 18px Arial; letter-spacing:-1px}
.rsticketspro_text p { font:bold 14px Arial; color:#acacac; padding-top:15px}
ul.rsticketspro_categories img{ background: url(../images/probid/i_icons.png) no-repeat 0 -30px; font-size:0; text-indent:-9999px;width:0; height:0;padding: 15px; margin:8px 10px 18px 0 ; float:left}

.rsticketspro_tablebig { background:none; border-left:0}
.rsticketspro_tablebig th { }
.rsticketspro_tablebig th:first-child , .rsticketspro_tablebig td:first-child{ text-align:right; padding-right:5px; border-left:none!important}
.rsticketspro_tablebig td { font-size:10px; word-break: break-all; text-align: center; border-right:0!important; border-left:1px solid #a4a4a4; background:#ededed}
a.rst_flag { display:inline-block!important}
body .rst_clear { margin:0!important; height:auto}

#rsticketspro_form label.float_left, .rsticketspro_form label.float_left { width:8em; position:relative; top:8px}
form#rsticketspro_form{ padding:10px 15px 0 37px; background:none}	
	form#rsticketspro_form a { font-weight:bold ; padding-bottom:10px;display: block;}
	#submitForm  td { padding:5px 0!important}
	form#rsticketspro_form label{ font-weight:bold ; color:#000; width:7em; display: inline-block;}
	form#rsticketspro_form  select {border:1px solid #ccc; padding:6px;width: 514px;margin-bottom:10px}
	form#rsticketspro_form  select#filter_order { margin-right:10px}
	form#rsticketspro_form  select#filter_order,form#rsticketspro_form  select#filter_order_Dir{width: 250px;}
	form#rsticketspro_form  input, form#rsticketspro_form   textarea, form#rsticketspro_form .inputbox{ border:1px solid #ccc; padding:6px;width: 500px; margin-bottom:10px}
	form#rsticketspro_form  button.button { color:#fff;  box-shadow: 0 1px 0 0 #f2686b inset; border:1px solid #b2181d;background: -moz-linear-gradient(top,#de2228 0%,#b3191e);background: -webkit-gradient(linear, left top, left bottom, 	from(#de2228),to(#b3191e)); -moz-border-radius: 3px;-webkit-border-radius: 3px; border-radius:3px;font:normal 22px 'avantgarde_dm'; text-shadow:0 1px 1px #3a080a ; padding:9px 20px;margin-left: 95px;}
.rsticketspro_fullbox { margin:0!important; width: 100% !important; }
.rsticketspro_fullbox ul.rsticketspro_categories { border-right:none}

.rsticketspro_tablebig2 th { padidng-left:25px}
.rsticketspro_tablebig2 th, .rsticketspro_tablebig2 td { text-align:left; padding-left:10px}
.rsticketspro_tablebig2 td  a { font-weight:bold}


body .jr_pathway { width:100%; border-bottom:1px solid #e6e6e6; padding-bottom:6px}
.jr_pathway a , .jr_pathway span{ font-size:10px}
body .jr_pathway a {background: url(../images/probid/i_arrow_li.png) no-repeat  right center ; padding-right: 10px;}

body .jr_formContainer {  border:none!important; padding:0}
.jr_form legend { text-transform:uppercase; padding:10px!important; background:#dddcdc; margin-bottom:10px; width:97%}
body .jr_form input[type="text"], body .jr_form textarea, body .jr_form select {border:1px solid #ccc; background:#fff; width:86.3%!important; padding:6px}
.jr_form .jrSelect, .jr_form .jrSelectMultiple { width:88%!important}
body .jr_form fieldset { border:none!important; padding:0}
body .jr_form .jr_fieldDiv label { display:inline-block; font-weight:normal; width:6em; font-size:11px}
body #fulltext.jrTextArea {padding:6px;width: 500px; height:10em; resize:none}
.jr_form .jr_fieldDiv.jr_city, .jr_form .jr_fieldDiv.jr_state, .jr_form .jr_fieldDiv.jr_zipcode{ float:left; margin-right:10px}
.jr_form .jr_fieldDiv.jr_city  input[type="text"], .jr_form .jr_fieldDiv.jr_state select, .jr_form .jr_fieldDiv.jr_zipcode input[type="text"], .jr_form  .jr_fieldDiv.jr_country select{ width:154px!important}
.jr_form .jr_fieldDiv.jr_state label { width:3em}
.jr_fieldDiv.jr_country { clear:both}
body .jr_form span#gm_geocode input.jrButton  , a.jrButton{ font:bold 12px Arial; color:#585858!important; display: inline-block;
	 box-shadow: 0 1px 0 0 #f2f2f2 inset; border:1px solid #acacac;background: -moz-linear-gradient(top,#e7e7e7 0%,#cacaca)!important;background: -webkit-gradient(linear, left top, left bottom, from(#de2228),to(#cacaca))!important; -moz-border-radius: 3px;-webkit-border-radius: 3px; border-radius:3px!important;padding:7px 12px 5px; margin-right:5px; text-shadow:none}

#jr_newFields .jrButton { margin-right:5px} 
	 
#image_upload_container { font-size:11px}
#image_upload_container label{ display:block!important; width:auto; color:#707070}
.image_upload_container_primary { padding-bottom:15px}
.image_upload_container_others .jr_imageUpload_left , .image_upload_container_others .jr_imageUpload_right{ float:left; padding-bottom:10px}

.jr_pagenav_results { font:bold 14px Arial!important; color:#000}

body div.fieldGroup { padding:0}
body div.jr_pgContainer li { margin:0}
body div.jr_blogview .contentColumn{ margin: 0 0 10px 20px; float:right; }
body div.jr_blogview div.listItem { border-top:4px solid #e3e2e2; color:#888; border-bottom:none; margin:0!important; padding-left:7px;clear: both;}
body div.jr_blogview div.listItem:first-child { border-top:none}
div.jr_blogview div.contentInfoContainer { background:none; border:none; padding:0}
div.jr_blogview div.contentTitle, div.jr_blogview div.contentTitle a { font:bold 18px Arial!important; padding-top:2px}
.ul_contentTitl { position:relative}
.my_jr_projectstatus{background: url(../images/probid/i_icon_3.png) no-repeat 0 0 ;height:28px; display:inline-block; text-indent:-9999px; font-size:0; position:absolute; right:0; top:5px}
.awarded_jr_projectstatus{background-position:0 0; width:42px }
body div.jr_blogview div.contentThumbnail { padding:0; border:1px solid #bfbfbf; margin-top:2px}
#jr_pgResults{}
body div.jr_pgContainer .contentInfo  { }
	body  #jr_pgResults div{ color:#888;font-size:11px}
	body  #jr_pgResults ul {width:100%; float:left; padding-bottom:1px}
	body  #jr_pgResults ul li { float:right;font-size:11px}
	body  #jr_pgResults ul li:first-child { float:left; padding-right:10px}
	body  #jr_pgResults .contentTitle{ padding-bottom:10px}
	
.jrHitsWidget  { margin-right:5px; float:left;
	cursor: default;
	display: inline-block;
	font-size: 11px;
	line-height: 1em;
	padding: 1px 4px;
	border: 1px solid #ccc;
	vertical-align: middle;
	white-space: nowrap;
	background-color: #F6F6F6;
	background-image: -moz-linear-gradient(center top, #fff, #efefef);
	background-image: -o-linear-gradient(top, #fff, #efefef);
	background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0, #fff), color-stop(1, #efefef));
	background-image: -webkit-linear-gradient(#fff, #efefef);
	background-image: linear-gradient(top, #fff, #efefef);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;	
}
.jrIcon {
    background-image: url(../images/probid/icons.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    margin-right: 5px;
    overflow: hidden;
    text-indent: -9999px;
    vertical-align: middle;
    width: 16px;
}	
.jrIconGraph{
	background-position: -64px -18px;
	margin: 0 2px 0 0;
	width: 12px;
	height: 12px;
}
.jrFavoriteWidget {float:left;
	cursor: default;
	font-size: 11px;
	line-height: 1em;
	padding: 1px 4px!important;	
	margin: 0 10px 0 1px!important;
	border: 1px solid #ccc;
	vertical-align: middle;
	white-space: nowrap;
	background-color: #F6F6F6;
	background-image: -moz-linear-gradient(center top, #fff, #efefef);
	background-image: -o-linear-gradient(top, #fff, #efefef);
	background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0, #fff), color-stop(1, #efefef));
	background-image: -webkit-linear-gradient(#fff, #efefef);
	background-image: linear-gradient(top, #fff, #efefef);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;	
}

.jrIconFavorites {
    background-position: -72px 0;
    height: 14px;
    margin: 0 3px 0 0;
    width: 8px;
}
div.fieldGroup div.fieldLabel {
	float: left;
	width: 110px;
	font-size: 11px; 
	font-weight: bold; 
	text-align: left;
	white-space: normal;
}
.jrFavoriteButton.jrButton { float:left; }
div.jr_pgContainer span.jrManagement { float:left; margin:-2px 0 0 0}

body div.fieldGroup div.fieldLabel { text-align:right}	
div.fieldGroup.address-information  {}
	div.fieldGroup.address-information div.fieldLabel { }
	div.fieldGroup.address-information div.fieldValue {}
body #jr_pgResults .pbd-pagination { color:#000; font-size:14px; display:block; padding:5px 15px}
.pt_border { border:1px solid #dddada; background:#f5f5f5; border-width:1px 0; padding:4px 0; clear:both; margin-bottom:10px;overflow: hidden;}
body div.overall_ratings { float:left}
body div.overall_ratings span.rating_label {display:none}
body .rating_star_user, .rating_star_editor { margin:0}
body div.overall_ratings span.rating_value { color:#000; font-size:10px; margin-top:0}
body div.jr_pgContainer a.jr_readon, body div.jr_pgContainer a.jr_rateit { padding:5px 12px !important; font-size:11px}
body div.jr_pgContainer .contentActions { left:0;position: static; margin-bottom:5px}

.jr_itemDetail {}
body div.itemMainImage { float:none; margin:0; padding:0; border:none} 
body div.itemMainImage  img{ border:1px solid #bfbfbf}
.jr_itemDetail  .contentSidebar{ float:left; margin-right:10px}
.my_jr_esp  { padding-top:15px}
.my_jr_esp div{ float:left; margin:24px 10px 0 0 ; color:#1d1d1d; font:bold 11px Arial}
.my_jr_esp .fieldValue:first-child { margin:0 10px 0 0}
.jr_itemDetail .contentMain{ display:block; overflow:hidden}
.jr_itemDetail .contentheading.item{ float:left; width:auto; padding:0; font-size:18px;margin-bottom:4px}
body .jr_itemDetail div.overall_ratings { clear:both; }
.jr_itemDetail div.contentInfoContainer { display:inline-block; margin:15px 0 10px; width:100%; border:1px solid #dddada; background:#f5f5f5; border-width:1px 0; padding:3px 0 0}
.jr_itemDetail .jrFavoriteWidget{ margin-right:1px!important}
.jr_itemDetail .contentInfo { float:left}
.jr_itemDetail .contentInfoButtons { float:right}
span.socialBookmarks iframe { width:80px!important}
span.socialBookmarks #___plusone_0 { width:67px!important}
.twitter-share-button.twitter-count-horizontal { margin-top:-5px}
.jr_itemDetail .jrHitsWidget ,.jr_itemDetail .jrFavoriteWidget ,.jr_itemDetail  .jrFavoriteButton.jrButton{ margin-top:2px!important}
.jr_itemDetail  span.socialBookmarks .fb-send { margin-right:3px}
body div.jr_itemDetail .contentFulltext { color:#888; line-height:15px}
body div.jr_itemDetail .fieldGroup div.fieldLabel { text-align:left; color:#494949;font-weight:normal}
div.jr_itemDetail div.fieldGroup div.fieldValue { color:#1d1d1d; font-weight:bold}
body div.jr_pgContainer.jr_itemDetail .jrHeading, body div.jr_pgContainer.jr_itemDetail .moduletable h3{ background:#dddcdc; border:none; border-radius:0; color:#1d1d1d; font:bold  14px Arial; text-transform:none; padding:12px 9px;box-shadow: none;}
body div.jr_pgContainer.jr_itemDetail .moduletable h3 { text-transform:uppercase}
.jrIconUserReviews { display:none!important}

.membershiptable { border-width:0 1px 1px; border-color:#e2e2e2; color:#f0f5f8}
.membershiptable th { background:#216b98; color:#f0f5f8; text-align:center}
.membershiptable td:first-child {  text-align:center}
.membershiptable td , .membershiptable td a { color:#888}
body .rsm_cancel  a, body .rsm_renew a{ text-shadow:none!important; font:bold 11px Arial; padding:3px 10px; -moz-border-radius: 6px;-webkit-border-radius: 6px; border-radius:6px!important;}
.rsm_renew a {text-shadow:none!important }

#tabs { border-radius:0; border:none; padding:0; margin-top:25px}
#tabs  .ui-tabs-nav { border-radius:0; border:none; background:#dddcdc; padding: 5px 5px 0 5px; margin-bottom:10px}
#tabs  .ui-tabs-nav li{background:none;border-radius:0;border:none }
#tabs  .ui-tabs-nav li.ui-state-active { background:#fff; border-top:2px solid #df2228}
#tabs  .ui-tabs-nav li a { font:bold 14px Arial; color:#1d1d1d} 
#tabs .ui-tabs-panel { padding: 0 10px}
#tabs .twitter-share-button.twitter-count-horizontal { margin-top:-11px}
#tabs  span.socialBookmarks .fb-like { margin-top:-10px}
#tabs  .itemMainImage { margin:0 0 10px 20px; float:right}
#tabs .contentFulltext , #tabs > .fieldGroup, #tabs .jr_customFields { clear:none!important; display:block; overflow:hidden; color:#888!important; border-bottom:1px solid #dddada; margin-bottom:10px; font-size:11px}
#tabs  div.fieldGroup.address-information div.fieldValue { color:#888; font-size:11px; text-transform:none}
#tabs .fieldGroup  { font-size:11px;color:#888}
#tabs .fieldGroup p { margin-left:120px}
#tabs .fieldGroup h3.fieldGroupTitle{ display:block!important; color:#888;font-size:11px; text-transform:none}
body #tabs  div.fieldGroup div.fieldLabel { text-align:right; color:#888}
#tabs  #wall #bottom_img , #tabs .rsform img{ display:none }
#tabs  #wall , #tabs .rsform #userForm{ border:1px solid #d4d4d4;-moz-box-shadow: 0 0 5px 0 #d4d4d4;-webkit-box-shadow: 0 0 5px 0 #d4d4d4;box-shadow: 0 0 5px 0 #d4d4d4 ;-moz-border-radius: 3px;-webkit-border-radius: 3px; border-radius:3px; margin:5px; padding:0; background:#fff}
#tabs  #wall-wrapper p ,#tabs  #wall-wrapper a#emailProjectLink  { padding:5px; display:block}
#tabs  #wall  .post-bubble { width:100%}
#tabs .post-owner, #tabs .post-sp{ width: 98.5%; border-top:1px solid #d4d4d4; -webkit-box-shadow: 0 0 5px 0 #d4d4d4;
box-shadow: 0 -1px 2px 0 #d4d4d4 ;-moz-border-radius: 2px 2px 0 0;-webkit-border-radius: 2px 2px 0 0; border-radius:2px 2px 0 0; padding:9px 5px 6px; font-size:11px}
#tabs .post-owner .post-owner, #tabs .post-sp .post-sp { border:none; box-shadow:none; border-radius:0; padding:0}
#tabs .post-owner span , #tabs .post-sp span { white-space:pre}
#tabs .post-sp .top_area .createdby , #tabs span.post-sp{ color:#2d3789}
#tabs .post-sp .top_area .createdby { margin-left:16px}
#tabs .post-sp .mid_area { }
#tabs  .post-sp .bottom_area { border-top:1px solid #d4d4d4;margin: 0 6px; width: 98%;}
#tabs .post-sp .bottom_area .attachment {  float:none; padding:10px 0 10px 13px; display:block}
#tabs .post-sp .bottom_area .attachment a { color: #DF2228;}
#tabs .rsform #userForm { font-size:11px; padding:10px; margin-top:20px} 
#tabs .rsform #userForm .rsform-block { margin-bottom:10px}
#tabs .rsform #userForm  div {padding:0!important; width:100%!important}
#tabs .rsform #userForm  div  textarea{ width:99%; overflow:hidden; resize:none}
#tabs .rsform #userForm input.rsform-submit-button{ font-size:14px; float:left; padding:5px 10px 4px}
#tabs .rsform #userForm .rsform-block.rsform-block-attachments {}
#tabs .rsform #userForm .rsform-block.rsform-block-attachments br { display:none}
#tabs .rsform #userForm .rsform-block.rsform-block-attachments  strong { display:inline; padding-left:10px}
#tabs .rsform #userForm .rsform-block.rsform-block-attachments input { width:auto}
#service-providers h3 , #service-providers h4, #service-providers  strong{ padding-bottom:5px;display: inline-block;}
#service-providers  #tags-ul li { padding:3px 0}
#project-files h3 { padding-bottom:5px;display: inline-block;}