body {color: #3f3f3f;font:12px Arial, sans-serif; background-color:#f3f3f3}
body#bd { background-color:#f3f3f3 ;color: #000}

/* Normal links ---*/
a { color: #069; text-decoration: none; }

a:hover, a:active, a:focus { text-decoration: none; color: #1d1d1d; }

/* Readon links ---*/
p.readmore a { text-transform: uppercase; }



h1.componentheading, .componentheading {border-bottom: 4px solid #000000;color: #010101;font: bold 24px Arial;  letter-spacing: -1px;padding: 0 0 3px 13px;}

h2.contentheading, .contentheading {
	font-weight: normal;
}

.contentheading { font-size: 200%; }

.blog-featured .contentheading { font-size: 150%; }

.jitem-title { font-size: 110%; font-weight: bold; }

/* Others ---*/
hr { border-top: 1px solid #ccc; }

/* FORM
--------------------------------------------------------- */
input, select, textarea, .inputbox { border:1px solid #C7C7C7; border-radius:0!important; background:#fff!important;
	padding: 2px;
	font-family: Helvetica, Arial, sans-serif;
}

.inputbox, input[ type="text"] , input[type="password"]{ border: 1px solid #e3e3e3; background: #fff; padding:5px 5px 6px }
input[ type="radio"] , input[type="checkbox"] { margin:0; padding:0; border:0}

.inputbox:hover, .inputbox:focus { background: #ffffcc; }

/* Search ---*/
form#searchForm { border-top: 1px solid #ccc; }

.searchintro { border-bottom: 1px solid #ccc; }

.results h4 { text-transform: none; font-size: 110%; }

.search fieldset { border: 1px solid #ccc; margin: 15px 0; padding: 10px; }

.search legend {	font-size: 100%; font-weight: bolder; line-height: 1.2; margin-left: 10px; }

/* Contact ---*/
#component-contact #emailForm { border-top: 1px solid #ccc;}

#contact-slider {
	float: none;
	border-bottom: 1px solid #e2e2b5;
}

#contact-slider .title {
	padding: 8px 10px;
	border-top: 1px solid #e2e2b5;
	border-left: 1px solid #e2e2b5;	
	border-right: 1px solid #e2e2b5;
	margin: 0;
}

#contact-slider .jpane-toggler-down {
	background: #333333;
}

#contact-slider .jpane-toggler-down a {
	color: #fff;
}

#contact-slider dt.closed {
	background: #ffffcc;
}

#contact-slider .content {
	border: 1px solid #e2e2b5;
	padding: 8px 10px;
}

#contact-slider .contact-image {
	margin: 15px 0;
	float: right;
}

/* -- EDITOR STYLES ----------------------------- */
#adminForm fieldset {
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 20px;
}

#adminForm fieldset legend {
	padding: 0 5px;
}

/* JOOMLA STYLE
--------------------------------------------------------- */
/* Layout Deco ---*/
.items-leading { border-bottom: 1px solid #ccc; padding-bottom:10px; margin-bottom:10px }

.items-row { border-bottom: 1px solid #ccc; padding-bottom:10px; margin-bottom:10px}

/* Meta ---*/
dl.article-info { color: #999; text-transform: none; }

.contentdescription { border-bottom: 1px solid #ccc; }

ul.actions li {
	display: inline;
	background: none;
	padding: 0;
	margin: 0;
	line-height: 1;
}

/*Inline images ---*/
p.img_caption { color: #999; text-transform: uppercase; }

/* Tables ---*/
thead tr th {
	background: #333;
	color: #fff;
	padding: 5px;
}

thead tr th a,
thead tr th a:hover,
thead tr th a:focus,
thead tr th a:active { color: #fff; }

.cat-list-row1,
.cat-list-row12,
tr.cat-list-row1 td,
tr.cat-list-row2 td { border-bottom: 1px solid #ccc; padding: 5px; }

.cat-list-row1:hover,
.cat-list-row2:hover {/* background: #ffffcc; */}

.cat-list-row2,
tr.cat-list-row2 td { background-color: #f6f6f6; }

/* Content Toc */
table.contenttoc { border: 1px solid #ccc; }

table.contenttoc td { border-bottom: 1px dotted #ccc; }

table.contenttoc th {
	background: #f6f6f6;
	border-bottom: 1px solid #ccc;
	text-transform: uppercase;
}

/* Poll */
form#poll {
	border-bottom: 1px dotted #ccc;
	font-weight: bold;
}

dl.poll { border-bottom: 1px dotted #ccc; }

table.pollstableborder td {
	background: #f6f6f6;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
	padding: 5px !important;
}

table.pollstableborder tr.sectiontableentry0 td,
table.pollstableborder tr.sectiontableentry1 td { background: #fff; font-weight: normal; }

/* Pagination ---*/
.pagination li span,
.pagination li strong { line-height: 20px; }

.items-more { border-bottom: 1px solid #ccc; }

.items-more h3 { font-size: 125%; }

/* MODULE STYLES
--------------------------------------------------------- */
div.ja-moduletable h3, div.moduletable h3 {
}

/* Login Module ---*/
#login-form ul li {	line-height: 160%;
	margin-bottom: 5px;
	overflow: hidden;
	padding-right: 5px;
}

#login-form #form-login-remember label {
	display: inline;
}

/* Advertisement ---*/
div.bannergroup_text div.banneritem { border-bottom: 1px dotted #ccc; padding:5px 0; }

/* MAIN LAYOUT DIVS
--------------------------------------------------------- */
.main .main-inner1 { margin-left: 0 !important; margin-right: 0 !important; }

/* HEADER
--------------------------------------------------------- */

h1.logo, div.logo-text h1 { font-size: 250%; line-height: 1; margin-left: 6px;}

/* Logo Image ---*/
h1.logo {width: 324px; padding-top:14px;height: 82px;float:left;margin-bottom:0px!important}
h1.logo a {background: url(../images/t3_logo_light_17.png) no-repeat left;display: block;width: 324px;height: 82px;text-indent:-999em;font-size:0px}

/* Logo Text ---*/
div.logo-text h1 {
	font-size: 200%;
	font-family: Arial, sans-serif;
	font-weight: bold;
}

div.logo-text h1 a {
	text-decoration: none;
}

p.site-slogan {
	color: #ccc;
	display: block;
	font-size: 85%;
	margin: 3px 0 0;
	padding: 0 10px;
	text-transform: uppercase;
}

/* NAVIGATION
--------------------------------------------------------- */
/* Main Nav ---*/
#ja-mainnav .main { /*border-bottom: 1px solid #ccc; */}

/* Breadcrumbs ---*/
#ja-navhelper .main {
	text-transform: uppercase;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.ja-breadcrums {
	text-indent: 10px;
}

/* Extras ---*/
.ja-links { padding-right: 10px; }

.ja-links li { padding: 0 10px; }

/* Default Joomla! Menu ---*/
#ja-container ul.menu li { border-bottom: 1px dotted #ccc;  }

#ja-container ul.menu li li { border-bottom: 0; border-top: 1px dotted #ccc; }

/* SPOTLIGHT
--------------------------------------------------------- */
#ja-topsl .ja-box, #ja-botsl .ja-box { 
	background: url(../images/dot-1.gif) repeat-y right;
}

#ja-topsl .ja-box-right, #ja-botsl .ja-box-right {
	background: 0;
}

#ja-topsl .ja-moduletable, #ja-botsl .ja-moduletable {
	margin-top: 10px;
	margin-bottom: 10px;
}

#ja-topsl div.ja-moduletable h3,
#ja-botsl div.ja-moduletable h3 { border-bottom: 0; padding-bottom: 0; }

#ja-topsl ul.menu li, #ja-botsl ul.menu li,
#ja-topsl ul.latestnews li, #ja-botsl ul.latestnews li,
#ja-topsl ul.weblinks li, #ja-botsl ul.weblinks li {
	background: url(../images/bullet.gif) no-repeat 1px 6px;
	line-height: 160%;
	margin-bottom: 5px;
	overflow: hidden;
	padding-left: 10px;
}

/* Top spotlight ---*/
#ja-topsl .main { padding: 0; }
#ja-topsl .main-inner1 { padding: 10px 0; border-bottom: 1px solid #ccc; }

/* Bot spotlight ---*/
#ja-botsl .main { padding: 0; }
#ja-botsl .main-inner1 { padding: 10px 0; border-top: 1px solid #ccc; }

/* MISCELLANOUS
----------------------------------------------------------- */
/* Others ---*/
#ja-top-panel .main-inner1 {
	border: 2px dotted #e2e2b5;
	padding: 5px 10px;
	text-align: center;
	margin-top: 15px;
	background: #ffffcc;
	position: relative;
}

#ja-banner { border-top: 1px solid #ccc; }

div.ja-innerdiv { border-bottom: 1px dotted #ccc; }

div.ja-innerdiv h4 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 92%;
	font-weight: normal;
	text-transform: uppercase;
}

a.ja-icon-video {
	background: url(../images/icon-youtube.gif) no-repeat 5px 8px #fff;
	border: 1px solid #ccc;
	color: #666;
	display: block;
	font-weight: bold;
	position: absolute;
	padding: 5px 5px 5px 43px;
	right: 10px;
	top: 8px;
	text-decoration: none;
	width: 35px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0 0 3px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .2);
}
a.ja-icon-video span { color: #666; }

a.ja-icon-video:hover,
a.ja-icon-video:focus,
a.ja-icon-video:active { border-color: #ddd; text-decoration: none; }

a.ja-icon-video:hover span { color: #0F85D8; }

#ja-absolute .main {
	position: fixed;
	width: auto;
	height: auto;
	z-index: 99999;
	top: 1px;
	left: 1px;
}

#ja-absolute .main a {
	width: 91px;
	height: 99px;
	overflow: hidden;
	display: block;
	background: url(../images/joomla15.png) no-repeat left top #fff;
	text-indent: -9999px;
}

#ja-absolute .main a:hover,
#ja-absolute .main a:focus {
	background-position: left bottom;
	text-decoration: none;
}


/*huuthe*/
body.bd .main{}
#ja-search{float:right; }
.prologin{overflow:hidden}
	.prologin > div{float:left}
	.prologin span{float:left;color:#787878;font-size:20px;font-family:arial;padding:12px 13px 0px 13px}
	.proupaccount{}
	.proaccount a{display:block;width:240px;height:43px;background: url(../images/create_account_bg.png) no-repeat left top;font-size:0px;text-indent:-999em;color:transparent}
	.prologinout a{display:block;width:91px;height:44px;background: url(../images/bg_logout.png) no-repeat left top;font-size:0px;text-indent:-999em;color:transparent}
	.prologin{background: url(../images/probid/bg_joinourner.png) no-repeat left top;padding:26px 0 0 7px; clear:both}
#ja-mainnav{ background:#f3f3f3;position: relative;z-index: 99;}
#ja-mainnav .main-inner1{background:#000!important;height:44px;}
#ja-mainnav .main-inner1 .mainlevel {height:100%}
#ja-mainnav .main-inner1 .mainlevel >ul >li{height:44px;float:left;padding:0px 15px}
#ja-wrapper{width:960px!important;margin:0 auto; overflow:hidden}
/*.cc_home_page div.ja-moduletable h3, .cc_home_page div.moduletable h3{ color:#000; font:bold 18px Arial, sans-serif;; padding:10px 15px; margin-bottom:20px; border:none}*/



/*menu*/
#ja-mainnav .main-inner1 li{ /*height:44px!important*/}
#ja-mainnav .main-inner1 li a{text-transform:uppercase;padding-top:14px;color:#fff}

/*recent project*/
.roknewspager-overlay{display:none!important}
ul.roknewspager{overflow:hidden;}
ul.roknewspager li{float:left!important;list-style:none!important;padding-left:0px!important;width:187px!important;background:none!important;height:237px!important;margin-bottom:0px!important}
ul.roknewspager li > div{padding:10px}
ul.roknewspager li.first{float:left!important;padding-left:0px!important}
.roknewspager-pages{background:none!important}
ul.roknewspager-numbers{background:none!important}
.roknewspager-cat {font-size:11px;color:#ccc;font-weight:bold}
.roknewspager-title {color:#000;font-weight:bold;font-size:20px!important;line-height:20px}
.roknewspager-div .author{color:red}
/*k2*/
.k2ItemsBlock .paging{display:none}
/**/

/*.com_rsticketspro #ja-container , .com_jreviews*/ #ja-container { padding:15px 9px 20px}
.com_k2 #ja-container { padding-top:0}

/* tr */
ul, li { list-style:none}
input[type="submit"]{ cursor:pointer}
input[type="checkbox"], input[type="radio"]{ margin:0; width: auto !important;}

button { background:none; border:none; visible:visible; overflow:visible; margin:0; padding:0; cursor:pointer}
a{ color:#db2127}
a:hover{ text-decoration:none}
@font-face {
    font-family: 'avantgarde_md_btmedium';
    src: url('../fonts/avgardm-webfont.eot');
    src: url('../fonts/avgardm-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avgardm-webfont.woff') format('woff'),
         url('../fonts/avgardm-webfont.ttf') format('truetype'),
         url('../fonts/avgardm-webfont.svg#avantgarde_md_btmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'avantgarde_dm';
    src: url('../fonts/avgardd-webfont.eot');
    src: url('../fonts/avgardd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avgardd-webfont.woff') format('woff'),
         url('../fonts/avgardd-webfont.ttf') format('truetype'),
         url('../fonts/avgardd-webfont.svg#avantgarde_dm') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'avantgarde_dn';
    src: url('../fonts/avgardn-webfont.eot');
    src: url('../fonts/avgardn-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avgardn-webfont.woff') format('woff'),
         url('../fonts/avgardn-webfont.ttf') format('truetype'),
         url('../fonts/avgardn-webfont.svg#avantgarde_dn') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Janna-sue';
    src: url('../fonts/JennaSue.eot');
    src: url('../fonts/JennaSue.eot?#iefix') format('embedded-opentype'),
         url('../fonts/JennaSue.woff') format('woff'),
         url('../fonts/JennaSue.ttf') format('truetype'),
         url('../fonts/JennaSue.svg#JennaSue') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*button*/
/*
#login-form  input.button ,.login button.button, .k2AccountPageUpdate button.button,.profile  a, div.proupaccount a ,
#jr_newFields input.jrButton,
.rsform  #userForm  input.rsform-submit-button, 
.rsm_renew  a, .membership_plan a, .pt_link , .edit_profile a,a.edit_imagegallery,a.edit_myprojects,a.manage_myteam,  .rightSideTitle h4,
div.itemCommentsForm form input#submitCommentButton{color:#fff;  box-shadow: 0 1px 0 0 #f2686b inset; border:1px solid #b2181d;background: -moz-linear-gradient(top,#de2228 0%,#b3191e)!important;background: -webkit-gradient(linear, left top, left bottom, 	from(#de2228),to(#b3191e))!important; -moz-border-radius: 3px;-webkit-border-radius: 3px; border-radius:3px!important;font:normal 14px 'avantgarde_dm'; text-shadow:0 1px 1px #3a080a ; padding: 10px 10px 7px;  }

#jr_newFields input#jr_canceListing.jrButton ,.rsm_cancel  a , .k2AccountPageUpdate a{ color:#101010; display: inline-block;
	 box-shadow: 0 1px 0 0 #f2f2f2 inset; border:1px solid #acacac;background: -moz-linear-gradient(top,#e7e7e7 0%,#cacaca)!important;background: -webkit-gradient(linear, left top, left bottom, from(#E7E7E7 ),to(#cacaca))!important; -moz-border-radius: 3px;-webkit-border-radius: 3px; border-radius:3px!important;padding:10px 10px 7px;font:normal 14px 'avantgarde_dm';text-shadow:0 1px 1px #e9e9e9 ;  
	background: -webkit-linear-gradient(#E7E7E7 , #cacaca);
    background: -moz-linear-gradient(#E7E7E7 , #cacaca);
    background: -o-linear-gradient(#E7E7E7 , #cacaca);
    background: -ms-linear-gradient(#E7E7E7 , #cacaca);} */
	
#login-form  input.button ,.login button.button, .k2AccountPageUpdate button.button,.profile  a, div.proupaccount a ,
#jr_newFields input.jrButton,#home_intro  a,
.rsform  #userForm  input.rsform-submit-button, 
.rsm_renew  a, .membership_plan a, .pt_link , .edit_profile a,a.edit_imagegallery,a.edit_myprojects,a.manage_myteam,  .rightSideTitle h4,
div.itemCommentsForm form input#submitCommentButton {	color: #fff;
	border: solid 1px #b2181d;
	background: #de2228!important;
	background: -webkit-gradient(linear, left top, left bottom, from(#de2228), to(#b3191e))!important;
	background: -moz-linear-gradient(top,  #de2228,  #b3191e)!important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#de2228', endColorstr='#b3191e')!important;
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: normal 14px 'avantgarde_dm';
	padding: 10px 10px 7px;
	text-shadow: 0 1px 1px #3a080a;
	-webkit-border-radius: .3em; 
	-moz-border-radius: .3em;
	border-radius: .3em;
	-webkit-box-shadow: 0 1px 2px #f2686b inset;
	-moz-box-shadow: 0 1px 2px #f2686b inset;
	box-shadow: 0 1px 2px #f2686b inset;
	
}
	
	
	

#login-form{ }
	#login-form h3 { background:url(../images/probid/i_icon_2.png) no-repeat 70px -425px; margin-bottom: 20px; padding: 10px 0 10px 45px;text-align: center;}
.login-greeting { float:right;border-right:2px solid #8d8d8d; padding-right:10px; margin-right:10px}
.login-greeting strong { color:#191919}
.logout-button { float:right; }
.logout-button  input{ background:none!important; border:none; padding:0; color:#dd2228; margin-top:-3px; cursor:default}
.proupaccount  { clear:both;background: url(../images/probid/bkg_goto.png) no-repeat left bottom;padding:25px 0 5px 70px; display:inline-block; float:right}
.proupaccount  a , #ja-footer  .ja-box-ct .proupaccount  a{ font:14px 'avantgarde_dn';background: url(../images/probid/bkg_red_38.png) repeat-x 0 0; border:1px solid #b2181d; -moz-border-radius: 7px;-webkit-border-radius: 7px; border-radius:7px; height:38px; line-height:38px; padding: 0 15px; color:#fff; text-shadow:0 1px 1px #300708; text-decoration:none; display:inline-block}
#ja-footer  .ja-box-ct .proupaccount { padding-top:5px; margin-bottom:15px}

/*pd_content*/
div.ja-moduletable h3, div.moduletable h3 ,
.ja-content-main h1{ font:bold 24px Arial; color:#010101; border-bottom:4px solid #000; padding:0 0 3px 13px;letter-spacing:-1px}
	.cc_home_page div.ja-moduletable h3, .cc_home_page div.moduletable h3 { border:none; font-size:18px; color:#000; margin-bottom:10px;padding-left:0}

#pt_content { background:#fff; margin-bottom:15px}
#ja-feature { padding:9px 9px 0}
body.bd #pt_content  .main { width:100%}

.pt_slideshow  { color:#fff}
	.pt_slideshow .pt_header { font:40px 'avantgarde_dn'; line-height:100%; padding-bottom:15px; letter-spacing:-2px; text-align:left}
	.pt_main { font-size: 14px;line-height: 17px; text-align:left}
	.pt_slideshow p {font:18px cursive;margin: -12px 0 5px;text-transform: uppercase; text-align:left}
	.pt_link{  margin-top:22px;  box-shadow: 0 2px 1px #2A6199;-moz-border-radius: 6px;-webkit-border-radius: 6px; border-radius:6px!important;padding: 12px 10px 10px 10px}
	.pt_link a{ text-decoration:none; font:19px 'avantgarde_dm'; text-shadow:-2px 2px 0px #A1171C; color:#fff;background: url(../images/probid/arrow_button.png) no-repeat right center ; padding-right:17px}
	.pt_link a:hover {text-transform:-1px 1px 1px #96151a; color:#fff }
	.pt_slideshow  p.pt_link{ margin:10px 0 0 0}
	.pt_slideshow  .slide0 .gallery22{ background-color:#2c3789}
	.pt_slideshow  .slide1 .gallery22{ background-color:#3477bd}
	.pt_slideshow  .slide2 .gallery22{ background-color:#0aae00}
	.pt_slideshow  .slide3 .gallery22{ background-color:#fdbd15}
	.pt_slideshow .slide3  .pt_header , .pt_slideshow .slide3  .pt_main { color:#000}
	.pt_slideshow  .slide2  .pt_link , .pt_slideshow  .slide3 .pt_link { box-shadow:none}
	.pt_slideshow .gallery22 .holder ul li { text-align:center}

#ja-utility { padding:4px 9px 0}
	.cc_home_page #ja-utility div.ja-moduletable h3, .cc_home_page #ja-utility  div.moduletable h3{ background-color:#e7e7e7;padding:6px 15px 6px 23px; margin-bottom:8px;font:bold 18px Arial, sans-serif; border:none}
	#ja-utility .roknewspager-wrapper{ border-bottom:3px solid #c7c7c7}
	#ja-utility ul.roknewspager { padding:0}
	#ja-utility ul.roknewspager  { border:1px solid #e3e2e2}
	#ja-utility ul.roknewspager li { border-left:1px solid #e3e2e2; padding:10px 10px!important;width: 167px !important; height:219px!important; position:relative; overflow:hidden}
	#ja-utility ul.roknewspager li:first-child { border:none; width:168px!important}
	#ja-utility ul.roknewspager li > div{ padding:0}
	#ja-utility ul.roknewspager .roknewspager-div { padding:0;font:bold 10px Arial ; color:#888}
	#ja-utility  .roknewspager-cat{ font:bold 10px Arial ; color:#888; margin-bottom:10px}
	#ja-utility ul.roknewspager .roknewspager-title { font-size:28px!important; color:#000; line-height:24px}
	#ja-utility ul.roknewspager  div.fulltext { color:#000; font:normal 11px Arial; margin-top:10px}
	#ja-utility .content-info { border-top:1px solid #e3e2e2;  background: url(../images/probid/i_icon_recent.png) no-repeat 10px center; padding:0 0 3px 30px; position:absolute; bottom:0; left:0; width:84%; height:28px; line-height:28px}
	#ja-utility  .roknewspager-prev, #ja-utility  .roknewspager-next, #ja-utility  .roknewspager-prev-disabled, #ja-utility  .roknewspager-next-disabled {background: url(../images/probid/light-page-controls.png) no-repeat 0 0; width:7px; height:6px ; top:6px}
	#ja-utility  .roknewspager-prev { background-position: 0 0}
	#ja-utility  .roknewspager-next { background-position:-7px 0}
	#ja-utility  .roknewspager-prev-disabled, #ja-utility  .roknewspager-next-disabled { opacity:0.3; filter: alpha(opacity = 30);}
	#ja-utility  ul.roknewspager-numbers { padding:0 15px}
	#ja-utility  ul.roknewspager-numbers li { color:#6f6f6f; font-size:11px}
	#ja-utility  ul.roknewspager-numbers li.active{ color:#000}

.com_content {}
	#ja-container .main .inner { padding:0 0 10px 0}
	.cc_home_page #ja-container div.ja-moduletable ,.cc_home_page #ja-container div.moduletable, #ja-container div.moduletable.pt_area{ border-top:4px solid #000; padding-top:3px;}
	.cc_home_page #ja-container div.ja-moduletable h3, .cc_home_page #ja-container div.moduletable h3 { background: url(../images/probid/i_icon_2.png) no-repeat 0 0; padding:4px 0 20px 54px }
	#ja-container #ja-content-mass-top div.ja-moduletable h3 { background-position:4px -76px}
	#ja-container #ja-right-mass-top { margin-left:15px}
	.cc_home_page #ja-container #ja-right-mass-top div.ja-moduletable h3,
	.com_rsmembership #ja-container #ja-right-mass-top div.ja-moduletable h3	{background-position:4px 5px; font-size:18px}
	#gm_module_results { border:1px solid #b1b1b1; margin-top:-5px}
	#ja-container #ja-right-mass-top div.custom div.first{ color:#969595;margin:-28px 0 8px 54px}
	#ja-container #ja-right-mass-top div.custom img{ border:1px solid #b1b1b1; padding:1px; margin:5px 0 10px}
	#ja-container #ja-right-mass-top div.custom p a {background: url(../images/probid/i_arrow.png) no-repeat right center; padding: 3px 15px 3px 0;   text-decoration:underline; display:inline-block; margin-top:15px; font-weight:bold}
	#ja-container #ja-right-mass-top div.custom p a:hover { text-decoration:none}

	.pt_area { }	
	#ja-container #ja-content-mass-top div.ja-moduletable.pt_area { border-top:4px solid #000;padding-top:3px;}
	#ja-container #ja-content-mass-top div.ja-moduletable.pt_area h3{background: url(../images/probid/i_icon_2.png) no-repeat 0 -76px; padding:4px 0 20px 54px ; font-size:18px }

	#ja-container div.moduletable.pt_area h3{ background: url(../images/probid/i_icon_2.png) no-repeat 0 0; padding:4px 0 20px 54px; font-size:18px}
	 .pt_member p:first-child { color:#969595; margin: -30px 0 13px 55px;}

#ja-mainbottom{ padding:0 10px}
#home_intro{overflow:hidden}
	#home_intro li{float:left;width: 32.6%;margin-left:10px;border-top:4px solid #000; color:#fff; padding-top:5px}
	#home_intro li:first-child{margin-left:0px}
	#home_intro li .top{background: url(../images/probid/i_icon_2.png) no-repeat 0 0;padding-left:45px;margin-bottom:12px; padding-bottom:3px}
	#home_intro li .top h3 { margin-bottom:0}
	#home_intro li .top span { color:#969595;letter-spacing: -0.2px;}
	#home_intro li .bot{position:relative; width:100%;border:1px solid #ddd;}
	#home_intro li .bot img{ width:100%}
	#home_intro li .bot p{position:absolute;bottom:1px;left:1px;background: url(../images/bg_home_intro_bot.png) repeat left center;width:93.6%;margin-bottom:0px; padding:15px 9px}
	#home_intro li .bot p strong{display:block;}
	#home_intro li .bot p strong , #home_intro li .bot p span { letter-spacing:-0.8px}
	#home_intro li .bot p span { letter-spacing:0; white-space:normal;width:63%; display:inline-block}
	#home_intro  a { height: 31px;line-height: 29px; color:white; font-size: 18px; font-weight:bold;margin-top:-15px; padding:0 2px; float:right}
	#home_intro a span { background:url(../images/probid/arrow_button.png) no-repeat right 4px;padding:0 22px 0 5px;display:inline-block; width:auto!important}
	#home_intro li.onner .top{ background-position:0 -165px}
	#home_intro li.service .top{ background-position:0 -252px}
	#home_intro li.vendor .top{ background-position:0 -347px}

/* login */
.proformlogin { padding:20px 114px 28px;width: 278px;}
#login-form p { margin-bottom:20px}
	#login-form p#form-login-password, #login-form p#form-login-remember, .login  .login-fields{ margin-bottom:10px}
	#login-form label , .login label{ font-weight:bold ; color:#656565; padding-bottom:6px; display:block}
	#login-form #form-login-remember label { font:normal 11px Arial; color:#636363}
	#form-login-remember input.inputbox { float:left; margin:0px 4px 0 0; width:auto}
	#login-form ul , .login ul { padding-top:18px}
	#login-form ul li{float:left}
	#login-form ul li.last { clear:both}
	#login-form ul li a , .login ul li a{  text-decoration:underline}
	#login-form ul li a:hover,  .login ul li a:hover{ text-decoration:none}
	#login-form  input.button ,.login button.button{ font:18px 'avantgarde_dm';background: url(../images/probid/btn_42_red.png) repeat-x 0 0; height:42px; line-height:42px;border:1px solid #b2181d; -moz-border-radius: 7px;-webkit-border-radius: 7px; border-radius:7px; color:#fff; padding:0 10px }
	#login-form  .inputbox{ width:80%}
	.login { padding-top:15px}
	.login ul li{ padding-bottom:5px}
	.login  .login-fields #remember-lbl { display:inline }
	.login  .login-fields #remember { float:left; width:auto; margin-right:10px}
	#login-form  .logout-button   input.button{ background:none!important; border:none; border-radius:none; color:#dd2228; font:normal 12px Arial; padding:0; height:auto}

.jr_pgContainer{}
	.jr_pgContainer h1.contentheading { border-bottom:4px solid #000;padding: 0 0 3px 13px; margin:0 0 3px}

.rst_message { background:#ffe4ba;border-bottom:2px solid #fbd293; padding:15px; color:#000}
.rst_message  p { background: url(../images/probid/i_icon_2.png) no-repeat 0 -511px; padding-left:40px}
.rst_message  p a{color:#da2127; font-weight:bold}
#submitForm { padding:10px 15px 0 37px; background:none}	
	#submitForm  td { padding:5px 0!important}
	#submitForm  label { font-weight:bold ; color:#000; width:7em; display: inline-block;}
	#submitForm  select {border:1px solid #ccc; padding:6px;width: 514px;}
	#submitForm input, #submitForm  textarea, #submitForm .inputbox{ border:1px solid #ccc; padding:6px;width: 500px;}
	#submitForm input#submit_captcha{ width:200px}
	#submitForm  button.button { background:none; color:#fff;  box-shadow: 0 1px 0 0 #f2686b inset; border:1px solid #b2181d;background: -moz-linear-gradient(top,#de2228 0%,#b3191e);background: -webkit-gradient(linear, left top, left bottom, 	from(#de2228),to(#b3191e)); -moz-border-radius: 3px;-webkit-border-radius: 3px; border-radius:3px;font:normal 22px 'avantgarde_dm'; text-shadow:0 1px 1px #3a080a ; padding:9px 20px;margin-left: 84px;}
button { background:none; visibility:visible; overflow:visible; margin:0; padding:0; border:none; cursor:pointer}	
table { width:98%; }
table.category{ margin:10px 0}
	table.category td { padding:7px 0}
	table.category th { text-align:left; padding:7px 0}
	table.category th:first-child { padding-left:7px}
	
.pagination { clear:both; text-align:center; overflow:hidden;padding:5px 0 25px; margin-bottom:16px;}
	.pagination p.counter{ display:inline; float:left}
	.pagination  ul {display:inline;}
	.pagination  ul  li { display:inline-block; margin:0 6px; font-size:12px;font-weight:bold;}
	.pagination  ul  li  a { font-size:12px; color:#4f4f4f}
	.pagination  ul  li  a:hover { color:#323232}
	.pagination span.pagenav { font-weight:bold; color:#323232; background:url(../images/tag/bkg_pagi.png)no-repeat center center; padding: 8px 14px 8px 13px; }
	.pagination  .pagination-start span.pagenav, .pagination .pagination-prev span.pagenav, .pagination  .pagination-next span.pagenav, .pagination  .pagination-end  span.pagenav{ color:#4f4f4f; background:none; width:auto; padding:0}
	.pagination  ul li.pagination-start, .pagination  ul li.pagination-prev , .pagination  ul li.pagination-next , .pagination  ul li.pagination-end { margin:0 15px}

.jr_pgContainer h1.contentheading.item { border:none}

dl.article-info  {}
	dl.article-info  dt.article-info-term { display:none}
	dl.article-info  dd{ display:inline; font-size:11px; border-right:1px solid #ccc; padding-right:5px; margin-right:5px}
	dl.article-info  dd.createdby{ padding:0; margin:0; border-right:0}
ul.pagenav { padding-top:10px}
	ul.pagenav  li:first-child { float:left}
	ul.pagenav  li { float:right}
h2.caption a{ font-size:14px}
.ul_contentInfo li { float:left; border-left:1px solid #adadad; margin-left:5px; padding-left:5px; line-height:12px; color:#888; font-size:11px}
.ul_contentInfo li:first-child { border-left:0; padding:0; margin:0}
	
/* member ship */
.membershipdiv { padding:12px; border:1px solid #e2e2e2; background:#f2f2f2;box-shadow:0 1px 0 0 #fff inset; margin:5px 0 14px; overflow:hidden}
.membershipdiv  li { float:left}
li.img_rms_full {background: url(../images/probid/li_full.png) no-repeat 0 0; width:89px; height:89px; float:left; margin:0 10px 0 0}
li.img_rms_piece{ background: url(../images/probid/li_full_1.png) no-repeat 0 0; width:89px; height:89px; float:left; margin:0 10px 0 0}
li.img_rms_none{ background: url(../images/probid/li_full_2.png) no-repeat 0 0; width:89px; height:89px; float:left; margin:0 10px 0 0}
.membershipdiv  li.rsm_upgrade_rms_full{ width:32%; float:right}
div.woohoo{font:48px 'Janna-sue' ; padding:29px 0 0 36px}
div.proupaccount {  margin-top:15px}
div.proupaccount a { font-size:12px!important; padding:14px 17px 11px ; height:auto}
 
.membershipdiv li.rsm_description_{ width:53%; padding-top:10px}
.membershipdiv li.rsm_description_ a {font-weight:bold ; background: url(../images/probid/i_arrow.png) no-repeat right center ;padding-right: 15px;}
.membershipdiv  .rsm_name{ font:bold 18px Arial; color:#000; display:block; padding-bottom:4px}
.com_rsmembership .rsm_actions { margin-bottom:25px; overflow:hidden}
.membershiptable { width:100%!important}
.pt_membership {}
.com_rsmembership #ja-container #ja-right-mass-top div.ja-moduletable h3 ,
#ja-container #ja-content-mass-top div.ja-moduletable.pt_membership  h3{ background: url(../images/probid/i_icon_2.png) no-repeat 4px 5px; padding:4px 0 20px 45px; text-align:left }
.com_rsmembership #ja-container #ja-right-mass-top div.ja-moduletable,
#ja-container #ja-content-mass-top div.ja-moduletable.pt_membership  { border-top:4px solid #000; padding-top: 4px; border-bottom:0}
#ja-container #ja-content-mass-top div.ja-moduletable.pt_membership  h3{ background-position:0 -599px; border-bottom:0; font-size:18px; margin-left:17px}
.pt_membership ul.menu  { float:right; padding:0 51px 28px 0; margin-top:30px}
.pt_membership ul.menu  li { display:inline; border:none!important; margin:0 24px  }
.pt_membership ul.menu  li  a { font:bold 14px Arial; color:#a7a7a7; letter-spacing:-0.1em}
.pt_membership ul.menu  li.active { background:#db2127; -moz-border-radius: 3px;-webkit-border-radius: 3px; border-radius:3px; color:#fff; padding:5px}
.pt_membership ul.menu  li.active a { color:#fff}
ul.pt_membership, .rsm_container.pt_membership { float:left; overflow: visible;}
div.pt_membership .membership_plan { margin-top:25px}
div.pt_membership .membership_plan a  { font:bold 18px 'avantgarde_md_btmedium'; color:#fffl; text-shadow:-2px 2px 1px #931519; box-shadow: 0 2px 1px #CFCFCF; color:#fefefe }
div.pt_membership .membership_plan a span { background: url(../images/probid/arrow_button.png) no-repeat right center;  padding-right:21px}
ul.pt_membership  li  { color:#636363; font-weight:bold; border-bottom:1px solid #cbcbcb;  text-align: right;width:230px;  height: 45px;padding: 28px 10px 0 0;}
.pt_membership li:first-child  { border-bottom:2px solid #0f206c}
div.pt_membership  ul li{border-bottom:1px solid #cbcbcb}
div.pt_membership a { color:#010101; font:bold 14px Arial}
div.pt_membership{ text-align:center}
div.pt_membership li { width:130px; height:73px}
.pt_membership_link a { padding-top:48px;display: inline-block;}
.pt_membership_price { font:bold 16px Arial; color:#6e6e6e}
.pt_membership_support { font:bold 18px Arial; color:#b5b5b5}
.pt_membership_price {background:#d7d7d7 }
.pt_membership_cost { background:#dfdfde}
.pt_membership_support{ background:#e6e6e5}
.pt_membership li.last,.pt_membership li.pt_membership_nojobs { border-bottom:0}
div.pt_membership li  { border-left:2px solid #fff}
div.pt_membership.pt_membership_0  li  { border-left:none}
div.pt_membership_2 .pt_membership_link{ background:#0f206c} div.pt_membership_2 .pt_membership_link a { color:#fff}
div.pt_membership_2 .pt_membership_price { background:#0b1f8f; color:#fff}
div.pt_membership_2 .pt_membership_cost { background:#435cc8}
div.pt_membership_2 .pt_membership_support{ }
div.pt_membership li.pt_membership_price, div.pt_membership li.pt_membership_support  { height: 45px;padding: 28px 0 0 0;}
.pt_membership_cost span { font-size:0; text-indent:-9999px; width:30px; height:30px;background: url(../images/probid/i_support.png) no-repeat 0 0;  display: inline-block; opacity:0.3;fiterfilter: alpha(opacity = 30); margin-top: 23px; }
.unlimited_yes , .unlimited_no{}
.pt_membership_cost span.unlimited_yes { background-position:-30px 0}
.pt_membership_cost span.unlimited_no {background-position:0 0}
.com_rsmembership h1 {/* display:none*/}
/*my office*/
.rightSideBox{ float:left; margin:0 20px 20px 0}
.pt_myoffice h3 { color:#000; font-size:18px}
.pt_myoffice .pt_border { clear:none; margin-top:5px}
.pt_myoffice .description{color:#888}
.pt_myoffice .tabouter { clear:both}
.pt_myoffice .pt_border { width:63%}
.edit_profile a , a.edit_imagegallery, a.edit_myprojects, a.manage_myteam, .rightSideTitle h4{ padding:3px;font:bold 11px Arial; text-shadow:none}
.edit_profile { float:left;margin-top: 3px;}
.pt_myoffice h4 { float:right}
ul.tabs{ background:#dddcdc; padding:5px 5px 0!important}
ul.tabs li a { color:#1d1d1d; font:bold 14px arial!important ; letter-spacing:-0.03em; padding:12px 7px 7px 7px!important}
ul.tabs li a.linkopen { background:#fff; border-top:2px solid #df2228;padding: 9px 7px !important;}
ul.tabs li a:hover { text-decoration:none}
a.edit_imagegallery , .rightSideTitle h4,a.manage_myteam{ float:right; margin-top:-5px}

#module_myprojects , #module_myteam, #module_mybusiness{ padding:10px 0}
.leftSideBox table th div { border-bottom:1px solid #dddada; margin:0 10px; padding-bottom:5px}
.leftSideBox table th:first-child div  { margin-left:0}
.leftSideBox table td:first-child, #module_myprojects th:first-child { border-right:1px solid #dddada}
.leftSideBox table td { padding:10px 10px 10px 20px} 
.leftSideBox table td:first-child { padding-left:10px}
.leftSideBox table td a, .rightSideBox b a { background: url(../images/probid/i_arrow_li.png) no-repeat left center;padding-left:10px; display:bock; margin:2px 0}
.leftSideBox table td br , .rightSideBox br{ display:none}
.leftSideBox table td b , .rightSideBox b{ display:block;padding:4px 0}
a.edit_myprojects, a.manage_myteam { float:right; margin-top:-5px}
.rightSideBox.last { width:100%}
.rightSideBox b { padding:4px 0}
#module_mybusiness{}
.rightSideTitle.moduletable h3 { background:#dddcdc; text-transform:uppercase; font-size:14px; border:0; color:#1d1d1d; padding:10px 13px}
/* account */
.profile{}
.profile  legend { color:#808080; font-weight:bold; padding:8px 0 8px 13px; border-bottom:1px solid #000; float:left; width:100%}
.profile .users-profile-custom-profile { padding-top:15px}
.profile .users-profile-custom-profile  legend  { border-top:4px solid #000}
.profile dl { clear:left; padding:10px 0 0 50px}
.profile dt, .profile dd{ float:left; padding:5px 0}
.profile dt { clear:left; width:180px; padding-right:10px; text-align:right; font:bold 12px Arial}
.profile  a {float:right; padding: 2px 15px 3px !important; font:bold 12px Arial!important;margin-top:10px; display:inline-block; text-shadow:none!important}

#jr_itemReviews {}
#jr_itemReviews.jr_pgContainer table.jr_pagination{ border-top:0; border-bottom:1px solid #000;}
#jr_itemReviews.jr_pgContainer table.jr_pagination tr td{  padding: 0 0 20px;}
#jr_itemReviews.jr_pgContainer table.jr_pagination tr td:first-child { padding-left:13px;font: 12px Arial !important;}
#jr_itemReviews td.jr_pagenav_limitbox select { padding:8px ;  border-color: #cccc #ebebeb!important;}
#jr_itemReviews.jr_pgContainer .contentTitle { padding:10px 0 8px 5px}
#jr_itemReviews.jr_pgContainer .contentTitle a{ font-size:18px}
.my_reviewInfo  { float:left; color:#888; font-size:11px; padding-left:5px}
.my_reviewInfo  .reviewScreenName { color:#888}
body #jr_itemReviews div.jr_pathway { float:right; width:auto;color:#888; border:none;padding: 0 0 3px;}

/* right */
#ja-right{}
.ja-colswrap { padding-left:10px}
.com_k2 .ja-colswrap{ padding-left:0}
#ja-right #ja-container div.ja-moduletable, #ja-right #ja-container div.moduletable{ border:none}
#ja-right div.ja-moduletable h3, #ja-right div.moduletable h3 {border:none; color:#1d1d1d; padding:0; font-size:14px}

.pt_myaccount {}
.pt_myaccount h3 { border-top:4px solid #000!important; }
.pt_myaccount h3 span {background: url(../images/probid/i_icon_2.png) no-repeat 18px -420px; padding: 6px 0 18px 62px; font-size:18px; color:#010101; display:inline-block}
.pt_myaccount ul.menu li { border-bottom:1px dotted #1d1d1d!important; padding:5px 5px 5px 0; }
.pt_myaccount ul.menu li:first-child { border-top:0}
.pt_myaccount ul.menu li > a{background: url(../images/probid/i_arrow_li.png) no-repeat left center; padding-left:28px; margin-left:35px;color:#DB2127}
.pt_myaccount ul.menu li.active > a, .pt_myaccount ul.menu li:hover > a { color:#000; font-weight:bold}
.pt_myaccount ul.menu > li.active {}
.pt_myaccount ul.menu li ul {}
.pt_myaccount ul.menu li  li { border-top:1px dotted #1d1d1d!important; border-bottom:none!important}
.pt_myaccount ul.menu li  li  > a { color:#DB2127; margin-left:62px }

/* saerch*/
.rsform{}
	.rsform #userForm { background:#f7f7f7; border:1px solid #e0dfdf; overflow:hidden;padding:7px 0 10px;margin-bottom: 19px;}
	#formDiv ul {  clear:both; padding:9px 7px 13px;overflow: hidden;  border-bottom:1px solid #e0dfdf; border-top:1px solid #fff} #formDiv ul  ul{ padding:0; overflow:visible; border:0}
	#formDiv ul.fsform-head { border-top:0; padding-top:0}
	#formDiv .fsform-foot { border-bottom:0}
	#formDiv ul  li {} #formDiv ul  ul li {}
	#formDiv ul.fsform-head li ,
	ul.fsform-foot li{ float:left; width:49.7%;} #formDiv ul.fsform-head  ul li , ul.fsform-foot ul li{ clear:left; padding:0; width:100%; }
	#formDiv ul.fsform-head  ul li:first-child , ul.fsform-foot ul li:first-child { padding-bottom:5px }
	.fsform-head{}   
	.rsform ul li:first-child { font:bold 11px Arial; color:#000; padding-bottom:5px}
	.rsform #userForm  select, .rsform #userForm  input { border:1px solid #ccc; background:#fff; border-radius:0; padding:6px 5px 7px;width:100%}
	.rsform #userForm  input { padding:6px 5px}
	.rsform #userForm  select#time , .rsform #userForm  select#Radius{ margin-left:7px}
	.rsform #userForm  select#Category, .rsform #userForm  input#Zipcode { margin-right:7px}
	.rsform #userForm  input { padding:7px 5px 8px}
	.rsform #userForm  input#Keywords{ width:98.9%}
	.rsform #userForm  input#Zipcode { width:97%}
	.rsform-block-submit{   border-bottom: none !important; position:relative}
	.rsform  #userForm .rsform-block-submit li:first-child { background:url(../images/probid/bkg_search.png) no-repeat 0 0; width:92px; height:44px; font-size:0; text-indent:-9999px;   position: absolute; right: 190px; top:4px}
	.rsform  #userForm  input.rsform-submit-button {  float:right; width:auto; font-size:18px}
	#formDiv ul#tags-ul {padding-left: 18px !important;}
	#formDiv ul#tags-ul li { float:left; list-style: disc inside none;padding: 0 5px;}
	#formDiv ul#tags-ul li:first-child, #formDiv ul#tags-ul li  { font:bold 11px Arial }

#ja-bottom div.ja-moduletable h3, #ja-bottom  div.moduletable h3{ background-color:#e7e7e7;padding:6px 15px 6px 23px; margin-bottom:15px;font:bold 18px Arial, sans-serif; border:none}
#ja-bottom  .ja-box-full{ width:960px!important}
/* footer */
#ja-footer {padding:18px 0;width: 960px;}
	#ja-footer .main-inner1 { width:100%}
	#ja-footer .column div.ja-moduletable, #ja-footer .column div.moduletable { margin:0 10px!important}
	#ja-footer .ja-box { border-left:1px dotted #000; min-height: 233px !important; width:23%!important; position:static!important} 
	#ja-footer .ja-box.ja-box-right{ width:29%!important}
	#ja-footer .ja-box.ja-box-center .ja-moduletable{ padding:0 10px}
	#ja-footer .ja-box:first-child { border:none}
	#ja-footer .ja-box h3 { font-size:14px; letter-spacing:-1px; background:none; padding:0 0 10px 0; margin-bottom:0; border:none}
	#ja-footer .ja-box-ct a { background: url(../images/probid/i_arrow.png) no-repeat right center; padding: 3px 15px 3px 0; font-size:11px;  float:left; clear:left; margin-bottom:3px}
	#ja-footer .ja-box-ct a.viewall_project{ font-weight:bold}
	#ja-footer .ja-box-ct br { display:none}
	.pt_footer_1 {}
		.pt_footer_1 p:first-child  { margin: -11px 0 15px;white-space: nowrap;}
		.pt_footer_1 p span { color:#969595;/*left: 55px;position: relative; top: -32px;*/ }
	#ja-footer .ja-box .pt_footer_1 h3 {  font:24px 'avantgarde_dm'!important; color:#000; text-align:right }
	#ja-footer .ja-box .pt_footer_1 p{  font:24px 'avantgarde_md_btmedium'!important; color:#000; text-align:right }
	.pt_footer_1 div.icon { border-top:1px dotted #000; margin-top:30px}
	.pt_footer_1 div.icon a{ width:24px; height:23px;background-image: url(../images/probid/i_icon.png); background-repeat: no-repeat ; padding-left:20px; display:inline-block}
	#ja-footer .ja-box-ct div.icon a{ width:auto; height:23px;background-image: url(../images/probid/i_icon.png); background-repeat: no-repeat ; display:inline-block; padding:8px 0 3px 30px; margin:15px 10px ; font:12px Arial,sans-serif; clear: none;}
	#ja-footer .ja-box-ct div.icon a.icon-twitter { background-position:left -3px}
	#ja-footer .ja-box-ct div.icon a.icon-facebook{ background-position:left -53px}

	.profooterlogo {  background: url(../images/probid/logo_footer.png) no-repeat right top;width:188px; height:48px; font-size:0; text-indent:-9999px; text-align:right; float:right} 
	#ja-footer .ja-box-ct .proaccount { float:right}
	#ja-footer .ja-box-ct .proaccount a{display:block;width:163px;height:40px;background: url(../images/probid/create_account_bg1.png) no-repeat left top;font-size:0px;text-indent:-999em;color:transparent; padding:0}
	#ja-footer .ja-box-ct .prologin{background: url(../images/probid/bg_joinourner_2.png) no-repeat left bottom;padding:5px 0 30px 7px; clear:both}

	#ja-footer .ja-box-ct .posttext { border-top:1px dotted #000; margin-top:10px;clear: both;}
	#ja-footer .ja-box-ct .posttext p { text-align:right; font:bold 11px Arial; color:#6a6a6a; margin-top:10px}

/*k2*/
.com_k2  #pt_content{ background: url(../images/probid/bkg_k2.gif) repeat-y -3px top; }
.com_k2  #ja-right{}
.com_k2  #ja-right1  div.ja-moduletable  h3  { padding:5px 10px 8px!important; border-bottom:1px solid #e7e7e7}
.com_k2  #ja-right2  div.ja-moduletable  h3  { padding:5px 15px 8px !important;border-bottom:1px solid #e7e7e7}
div.k2ItemsBlock li { padding:13px 10px 10px; border-bottom:1px solid #e7e7e7}
.com_k2  #ja-right div.k2ItemsBlock ul li div.moduleItemIntrotext{ padding:0}
.com_k2  #ja-right div.k2ItemsBlock ul li div.moduleItemIntrotext a.moduleItemImage img { float:none ;  padding:0; border:2px solid #e8e8e8}
.com_k2  #ja-right div.k2ItemsBlock ul li a.moduleItemTitle{ font-weight:bold}


.even, .odd { background:none; border:none}
div.k2ItemsBlock ul li div.moduleItemIntrotext { padding:0 10px}
div.k2ItemsBlock ul li div.moduleItemIntrotext .moduleItemIntrotextHead { float:left; margin:2px 12px 10px 0;width:38%}
div.k2ItemsBlock ul li div.moduleItemIntrotext a.moduleItemImage img{ border:1px solid #d1d1d1; margin:0}
.moduleItemIntrotextContent{ display:block; overflow:hidden}
div.k2ItemsBlock ul li a.moduleItemTitle { display:block; padding-bottom:10px}
.moduleItemIntrotextContent  a { }
div.catItemTagsBlock {padding:0;border-bottom:none;}
	div.catItemTagsBlock span {font-weight:bold;color:#cdcdcd;padding:0 4px 0 0;}
	div.catItemTagsBlock ul.catItemTags {list-style:none;padding:0;margin:0;display:inline;}
	div.catItemTagsBlock ul.catItemTags li {display:inline;list-style:none;padding:0 4px 0 0;margin:0;text-align:center;}
	div.catItemTagsBlock ul.catItemTags li a { color:#cdcdcd}
	div.catItemTagsBlock ul.catItemTags li a:hover {}
.custom img { text-align:center}

.rms_nodetails{font-family: Arial; font-size: 18px; text-align: center; color: #c1c1c1; margin-top:36px;}
.ja-moduletable .ja-box-ct .proupaccount,#ja-search .proupaccount{margin-top:0px!important}

